.App {
  text-align: center;
  padding-top: 25px;
}

.square1 {
  border: solid 2px black;
  height: 100px;
  width: 200px;
  padding-top: 25px;
  margin:0px
}

.board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  width: 800px;
  margin-left:100px;
}

.counter {
  height: 50px;
  width: 800px;
  text-align: center;
  padding-top: 25px;
}
